/** fonts 
content:  "brandon-grotesque";
headers: "old-standard";
work: "futura-pt";
**/

body {
	font-family: "brandon-grotesque";
	height: 100%;
	overflow-x: hidden;
	padding: 0;
}

::selection {
	/* Safari 4-5, Chrome 1-9 */
	background: #CC99FF;
}

.panels {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.panels > li {
	list-style-type: none;
	background-color: white;
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
}




#section-5 {
	z-index: 2;
}

#section-6 {
	z-index: 1;
}





































#section-1 {
	z-index: 6;
	height: 100%;
	background-color: #FFFFFF;
}

#logo {
	margin-top: 100px;
	visibility: hidden;
}

#section-1 > div {
	text-align: center;
	background-color: transparent;
	margin-top: 50px;
}

#section-1 > div > h1 > span {
	color: #FFF;
	font-family: "old-standard";
	font-style: italic;
	background-color: #000;
}

#section-1 > div  > p {
	font-family: "brandon-grotesque";
	font-weight: 400;
	letter-spacing: .4em;
}

#section-1 > div  > p > span {
	color: #FFF;
	background-color: #000;
}






































/**	SECTION 2 **/
#section-2 {
	z-index: 5;
	height: 100%;
	background: url('../img/background02.jpg');
	background-size: 100%;
	background-position: top center;
}

#section-2 > div {
	font-weight: 700;
	position: relative;
	margin: 20px auto;
	padding: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:70%;
	min-width: 740px;
	height:90%;
	border: 15px solid #FFF;
}

#section-2 > div > p {
	padding: 50px 0px;
	font-size: 4em;
}

#section-2 > div > p:nth-child(2) {
	text-align: right;
}





































/** SECTION 3 **/

#section-3 {
	z-index: 4;
	height: 100%;
	background: url('../img/background_about.jpeg');
	background-size: 100%;
	background-position: top center;
}

#section-3 > div {
	top: 100px;
	font-family: "old-standard";
	color: #FFF;
	font-size: 4em;
	line-height: 1.3em;
}

.cardContainer { 
	width: 100%;
	height: 1;
	position: relative;

	-webkit-perspective: 800px;
	perspective: 800px;
}

#card {
	width: 100%;
	height: 100%;
	position: relative;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

#card.flipped, #card:hover {
	-webkit-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}

#card figure {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;

	-webkit-backface-visibility: hidden;  
	backface-visibility: hidden;
}

#card > figure.front {
	background-color: transparent;
}

#card > figure.back {
	background-color: transparent;

	-webkit-transform: rotateY(180deg);
	transform: rotateY( 180deg );
}

#card > figure.front > div {
	padding: 20px;
	border-left: 1px solid #F5F4E2;
}
































/** SECTION 4 - WORK **/
#section-4 {
	z-index: 3;
	font-family: "futura-pt";
	background: url('../img/background01.jpg') 100%;
	background-size: 100%;
}





/** BREAKPOINTS **/

/** SECTION 3 **/
/** background adjustments **/
@media (max-width: 920px) {
	#section-3 {
		background-size: 920px 720px;
		background-position: top center;
	}
}

@media (min-width: 321px) and (max-width: 743px) {
	#section-2 > div {
		min-width:320px;
		width: 100%;
		height:100%;
		margin-top: 0px;
	}

	#section-2 > div > p {
		padding: 50px 0px;
		font-size: 3.2em;
	}
}

@media (min-width: 321px) and (max-width: 626px) {
	#section-3 > div {
		font-size: 2em;
	}
}

/** iPHONE 5 **/
@media (min-width: 320px) and (max-width: 320px) {
	#section-2 {
		width: 320px;
	}

	#section-2 > div {
		min-width:320px;
		width: 100%;
		height:100%;
		margin-top: 0px;
	}

	#section-2 > div > p {
		font-size: 2em;
	}

	#section-3 {
		background-size: 693px 520px;
	}

	#section-3 > div {
		font-size: 1.5em;
	}
}