/** fonts 
content:  "brandon-grotesque";
headers: "old-standard";
work: "futura-pt";
**/

.icon-social-tumbler {
	display: inline-block;
}

.icon-social-linkedin {
	display: inline-block;
}

.icon-social-github {
	display: inline-block;
}

body {
	font-family: "brandon-grotesque";
	height: 100%;
	overflow-x: hidden;
	padding: 0;
}

::selection {
	/* Safari 4-5, Chrome 1-9 */
	background: #CC99FF;
}

.onepage-pagination {
	top: 40%;
}

.panels {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.panels > li {
	list-style-type: none;
	background-color: white;
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
}

.glyphicon.glyphicon-chevron-down {
	font-size: 5em;
	color: #A5FFE3;
}


.onepage-pagination li a:before {
	background: #000000;
}

.onepage-pagination li a.active:before {
	border: 1px solid #F1FFED;
	background: #F1FFED;
}



























#section-1 {
	z-index: 6;
	height: 100%;
	background: url('../img/bg08.gif');
	background: -webkit-radial-gradient(top center, ellipse cover, rgba(241,204,255,0.2) 0%,rgba(247,248,255,0.5) 50%), url('../img/bg08.gif');
}

#logo {
	margin-top: 100px;
	visibility: hidden;
}

#section-1 > div {
	text-align: center;
	background-color: transparent;
	margin-top: 50px;
}

#section-1 > div > div {
	margin: 0px;
}

#section-1 > div > h1 > span {
	color: #FFF;
	font-family: "old-standard";
	font-style: italic;
	background-color: #000;
}

#section-1 > div  > p {
	font-family: "brandon-grotesque";
	font-weight: 400;
	letter-spacing: .4em;
}

#section-1 > div  > p > span {
	color: #FFF;
	background-color: #000;
}






































/**	SECTION 2 **/
#section-2 {
	z-index: 5;
	height: 100%;
	background: url('../img/background02.jpg');
	background-size: 100%;
	background-position: top center;
}

#section-2 > div {
	font-weight: 700;
	position: relative;
	margin: 20px auto;
	padding: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:70%;
	min-width: 740px;
	height:90%;
	border: 15px solid #FFF;
}

#section-2 > div > p {
	padding: 50px 0px;
	font-size: 4em;
}

#section-2 > div > p:nth-child(2) {
	text-align: right;
}





































/** SECTION 3 **/

#section-3 {
	z-index: 4;
	height: 100%;
	background: -webkit-radial-gradient(bottom left, ellipse cover, rgba(255,184,222,0.2) 0%,rgba(219, 255, 194,0.5) 50%),  
	url('../img/background_about.jpeg');  
	background-size: 100%;
	background-position: top center;
}

#section-3 > div {
	top: 100px;
	font-family: "brandon-grotesque";
	color: #000;
	font-size: 2em;
	line-height: 1.6em;
	font-weight: 400;
	padding: 0px 20px;
}


#section-3 > div > h1 {
	font-family: "old-standard";
	font-style: italic;
	font-size: 2em;
	margin: 0;
	letter-spacing: -5px;
	color: #E5FFF7;
}

.contact > a , .contact a:hover {
	font-family: "brandon-grotesque";
	font-weight: 700;
	font-size: .75em;
	margin: 0;
	color: #000000;
	text-decoration: none;
	border-bottom: 2px #E5FFF7 solid;
}

#card > figure.front > div, #card > figure.back > div {
	padding: 0px 20px;
	border-left: 5px solid #F5F4E2;
}

#card > figure.front > div > h1, #card > figure.back > div > h1 {
	font-family: "old-standard";
	font-style: italic;
	font-size: 2em;
	margin: 0;
	letter-spacing: -5px;
	color: #E5FFF7;
}

.cardContainer { 
	width: 100%;
	height: 1;
	position: relative;

	-webkit-perspective: 800px;
	perspective: 800px;
}

#card {
	width: 100%;
	height: 100%;
	position: relative;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

#card.flipped {
	-webkit-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}

#card figure {
	display: block;
	position: absolute;
	width: 100%;
 	height: 100%;
 
 	-webkit-backface-visibility: hidden;  
	backface-visibility: hidden;
}
 
#card > figure.front {
 	background-color: transparent;
}
 
#card > figure.back {
	background-color: transparent;

	-webkit-transform: rotateY(180deg);
	transform: rotateY( 180deg );
}

#card > figure.front > div, #card > figure.back > div {
	padding: 0px 10px;
}


#description_feedback {
	float: right;
	font-size: .75em;
	font-weight: 700;
}

#ss-submit {
	border: 0px;
	background-color: #E5FFF7;
	border-radius: 4px;
	margin-top: 5px;
}

.text-success {
	color: #000000;
	font-weight:700;
}



















/** SECTION 4 - WORK **/
#section-4 {
	z-index: 3;
	font-size: 1.4em;
	font-family: Courier;
	background: url('../img/bg09.jpg') 100%;
	background-size: 100%;
	background-position: top center;
	color: transparent;
	text-shadow: 0px 0px 2px #FFFFFF;
}

#section-4 > div.row.work > div > span.title {
	font-weight: 700;
}

#section-4 > div.work {
	text-align: center;
}

#section-4 > div.row.work > div > h1  {
	background-color: transparent;
	color: transparent;
	text-shadow: 0px 0px 3px #FFFFFF;
}

#section-4 > div.work > div > a {
	display: inline-block;
	color: transparent;
	text-shadow: 0px 0px 2px #FFFFFF;
	background-color: transparent;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}

#section-4 > div.work > div > a:hover {
	text-decoration: none;
}

#section-4 > div > div:nth-child(2) {
	text-align: left;
}

@-webkit-keyframes blinker {from{opacity:1.0;}to{opacity:0.0;}}
@-moz-keyframes blinker {from{opacity:1.0;}to{opacity:0.0;}}
@keyframes blinker {from{opacity:1.0;}to{opacity:0.0;}}

.blink {
	text-decoration: blink;

	-webkit-animation-name: blinker;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration: .6s;

	-moz-animation-name: blinker;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-moz-animation-duration: .6s;

	animation-name: blinker;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	animation-duration: .6s;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	padding: 5px;
	text-shadow: 0px 0px 2px #FFFFFF;
}
















/** BREAKPOINTS **/

/** SECTION 3 **/
/** background adjustments **/
@media (max-width: 920px) {
	#section-3 {
		background-size: 920px 720px;
		background-position: top center;
	}
	#section-4 {
		background-size: 1000px 660px;
		background-position: top center;
	}
}

@media (min-width: 321px) and (max-width: 743px) {
	#section-2 > div {
		min-width:320px;
		width: 100%;
		height:100%;
		margin-top: 0px;
	}

	#section-2 > div > p {
		padding: 50px 0px;
		font-size: 3.2em;
	}
}

@media (min-width: 321px) and (max-width: 760px) {
	#section-3 > div {
		font-size: 1.5em;
	}

	#section-3 > div > h1{
		letter-spacing: -1px;
	}
}

/** iPHONE 5 **/
@media (min-width: 320px) and (max-width: 320px) {

	ol.panels {
		margin-left: 0px;
		padding-right:0px;

		width: 320px;
	}

	#section-2 {
		width: 320px;
	}

	#section-2 > div {
		min-width:320px;
		border: 10px solid #FFF;
		width: 100%;
		height:100%;
		margin-top: 0px;
	}

	#section-2 > div > p {
		font-size: 2em;
	}

	#section-3 {
		background-size: 693px 520px;
		background-position: top left;
	}

	#section-3 > div {
		font-size: 1em;
		top: 50px;
	}

	#card > figure.front > div > h1, #card > figure.back > div > h1 {
		letter-spacing: 0px;
	}

	#section-4 > div:nth-child(2) > h1 {
		font-size: 1em;
	}

	#section-4 > div.row.work {
		font-size: .9em;
		line-height: 1em;
	}

}